/*
 * Overrides for Humans Forward
 */

body {
  min-height: 75rem;
  position: relative; /* ensure ScrollSpy is happy */
}


/*
 * Global add-ons
 */

.hf-heading {
  margin-bottom: 2rem;
}

h1.hf-heading,
.hf-tagline {
  letter-spacing: 0.1rem;
  text-transform: lowercase;
}
.hf-tagline {
  margin-left: 0.5rem;
}

.hf-logotype {
  letter-spacing: -0.2rem;
}

.hf-section {
  padding: 4rem 3rem;
}
.hf-section .hf-section {
  padding: 3rem 0;
}

.vertical-align {
  display: flex;
  align-items: center;
}

/*
 * Navagation
 */

#homeNavbar.navbar {
  background-color: none;
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  text-transform: lowercase;
  transition: all 0.4s ease;
}
#homeNavbar.navbar.hf-scrolled {
  background-color: rgba(66, 66, 66, 0.9);
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
}


/*
 * Cover page
 */

#homeCover.jumbotron {
  background-color: black;
  color: white;
  margin-bottom: 0;
  padding: 8rem 3rem;
  min-height: 640px;
  height: 100vh;
}


/*
 * Intro section
 */

#intro {
  background: #FF512F; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ff7a00 , #ff9900); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ff7a00 , #ff9900); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}
#intro .lead {
  font-size: 1.5rem;
}


/*
 * Product development section
 */

.hf-product-dev-work.row {
  background-color: #eee;
}


/*
 * Lab section
 */

#lab {
  background: #3299bb; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #48bb7e , #3299bb); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #48bb7e , #3299bb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}

#lab .hf-heading {
  color: white;
}

#lab .card-deck {
  justify-content: center;
}
#lab .card-deck .card {
  flex: 1 0 auto;
}
#lab .card {
  max-width: 15rem;
}


/*
 * Ethos section
 */

.hf-mission {
  line-height: 1.5;
}
.hf-mission-quote {
  color: #ddd;
}

@keyframes aethosword {
    0%   {background-color: white;}
    20%  {background-color: #ff9900;}
    30%  {background-color: white;}
}
.hf-animate-impact-word {
  animation-name: aethosword;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
.hf-animate-endure-word {
  animation-name: aethosword;
  animation-duration: 20s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
}
.hf-animate-connect-word {
  animation-name: aethosword;
  animation-duration: 20s;
  animation-delay: 10s;
  animation-iteration-count: infinite;
}

@keyframes aethostext {
    0%   {color: #ddd;}
    20%  {color: #ff9900;}
    30%  {color: #ddd;}
}
.hf-animate-impact-text {
  animation-name: aethostext;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
.hf-animate-endure-text {
  animation-name: aethostext;
  animation-duration: 20s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
}
.hf-animate-connect-text {
  animation-name: aethostext;
  animation-duration: 20s;
  animation-delay: 10s;
  animation-iteration-count: infinite;
}


/*
 * Team section
 */

#team {
  background: #bcbcbc; /* fallback for old browsers */
}

.hf-img-team-member {
  margin: 1rem 0;
}


/*
 * Social section and footer
 */

#social,
footer {
  background: #FF512F; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ff7a00 , #ff9900); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ff7a00 , #ff9900); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.hf-social-links {
  margin-top: 1.5rem;
}
.hf-social-link {
  margin-bottom: 0.5rem;
}
