<footer class="bd-footer text-muted" role="contentinfo">
  <div class="container">
    <ul class="bd-footer-links">
      <li><a href="#">GitHub</a></li>
      <li><a href="https://twitter.com/getbootstrap">Twitter</a></li>
      <li><a href="{{ site.baseurl }}/about/history/">About</a></li>
    </ul>
  </div>
</footer>

<script src="{{ site.cdn.jquery }}"></script>
<script>window.jQuery || document.write('<script src="{{ site.baseurl }}/assets/js/vendor/jquery.min.js"><\/script>')</script>

{% if site.github %}
  <script src="{{ site.baseurl }}/dist/js/hf-bootstrap.min.js"></script>
{% else %}
  <script src="{{ site.baseurl }}/dist/js/hf-bootstrap.js"></script>
{% endif %}

{% if site.github %}
  <script src="{{ site.baseurl }}/assets/js/docs.min.js"></script>
{% else %}
  {% for file in site.data.configBridge.paths.docsJs %}
    <script src="{{ site.baseurl }}/{{ file }}"></script>
  {% endfor %}
{% endif %}

<!-- Just to make our placeholder images work. Don't actually use this! -->
<script src="{{ site.baseurl }}/assets/js/vendor/holder.min.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{{ site.baseurl }}/assets/js/ie10-viewport-bug-workaround.js"></script>

<script>
Holder.addTheme('gray', {
  background: '#777',
  foreground: 'rgba(255,255,255,.75)',
  font: 'Helvetica',
  fontweight: 'normal'
})
</script>
