<footer>
  <div class="container text-xs-center p-a-1"><i class="fa fa-smile-o" style="margin-right: 1rem;"></i>Copyright © Humans Forward</div>
</footer>

<!-- Each layout has its own app script loaded by RequireJS  -->
<script src="{{ site.baseurl }}/assets/require_config.js"></script>
<script src="{{ site.baseurl }}/assets/require.js" data-main="site/{{ page.layout }}"></script>

<!-- Just to make our placeholder images work. Don't actually use this! -->
<!-- 
<script src="{{ site.baseurl }}/assets/js/vendor/holder.min.js"></script>
<script>
Holder.addTheme('gray', {
  background: '#777',
  foreground: 'rgba(255,255,255,.75)',
  font: 'Helvetica',
  fontweight: 'normal'
})
</script>
 -->
