<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Humans Forward makes connected tech products that work beautifully for people, now and into the future.">
<meta name="keywords" content="hardware, software, IoT, connected, full stack, sensors, actuators, electronics, fog, cloud, algorithms">
<meta name="author" content="J. Scott Smith and Paul Weber">

<title>
  {{ page.title }}
</title>

<!-- Fonts -->
<link href='https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<!-- Bootstrap core CSS -->
{% if site.github %}
  <link href="{{ site.baseurl }}/assets/bootstrap/dist/css/hf-bootstrap.min.css" rel="stylesheet">
{% else %}
  <link href="{{ site.baseurl }}/assets/bootstrap/dist/css/hf-bootstrap.css" rel="stylesheet">
{% endif %}

<!-- Animate.css -->
<link href="{{ site.baseurl }}/assets/vendor/css/animate.min.css" rel="stylesheet">

<!-- Extras and overrides -->
<link href="{{ site.baseurl }}/assets/site/css/style.css" rel="stylesheet">

<!-- Favicons -->
<!-- 
<link rel="apple-touch-icon" href="{{ site.baseurl }}/apple-touch-icon.png">
<link rel="icon" href="{{ site.baseurl }}/favicon.ico">
 -->
