<header class="pos-f-t" role="banner">
  <nav class="navbar navbar-dark" id="homeNavbar">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <a class="navbar-brand hf-scroll-link" href="#homeCover">
            <img alt="Brand" class="hidden-xs-down hf-img-nav-logotype" src="{{ site.baseurl }}/assets/site/img/brand/hf-nav-logotype.png">
            <img alt="Brand" class="hidden-sm-up hf-img-nav-logotype-sm" src="{{ site.baseurl }}/assets/site/img/brand/hf-nav-logotype.png">
          </a>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <ul class="nav navbar-nav navbar-nav-center">
            <li class="nav-item">
              <a class="nav-link hf-scroll-link" href="#productDev">
                <span class="hidden-xs-down">Product Development</span><span class="hidden-sm-up">Dev</span>
              </a>
            </li>
            <li class="nav-item"><a class="nav-link hf-scroll-link" href="#lab">Lab</a></li>
            <li class="nav-item">
              <a class="nav-link hf-scroll-link" href="#ethos">
                <span class="hidden-xs-down">Forward</span><span class="hidden-sm-up">Fwd</span>
              </a>
            </li>
            <li class="nav-item"><a class="nav-link hf-scroll-link" href="#team">Team</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
