<header class="pos-f-t" role="banner">
  <nav class="navbar navbar-dark p-a-1" id="homeNavbar">
    <div class="nav navbar-nav">
      <a class="nav-item nav-link active" href="#">
        <span class="hidden-xs-down">Product Development</span><span class="hidden-sm-up">Dev</span>
      </a>
      <a class="nav-item nav-link" href="#">Lab</a>
      <a class="nav-item nav-link" href="#">
        <span class="hidden-xs-down">Forward</span><span class="hidden-sm-up">Fwd</span>
      </a>
      <a class="nav-item nav-link" href="#">Contact</a>
    </div>
  </nav>
</header>
