<header class="navbar navbar-light" role="banner" style="padding-top: 0; padding-bottom: 0;">
  <div class="pos-f-t">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#headerNavbar">
      &#9776;
    </button>
    <div class="collapse navbar-toggleable-xs p-a-2" id="headerNavbar">
      <nav class="nav navbar-nav">
        <a class="nav-item nav-link active" href="#">Product Development</a>
        <a class="nav-item nav-link" href="#">Labs</a>
        <a class="nav-item nav-link" href="#">Forward</a>
        <a class="nav-item nav-link" href="#">Contact</a>
      </nav>
    </div>
  </div>
</header>
