/*
 * Overrides for Humans Forward
 */

body {
  min-height: 75rem;
  // padding-top: 6rem;
}


/*
 * Global add-ons
 */

.hf-heading {
  margin-bottom: 2rem;
}
h1.hf-heading {
  text-transform: lowercase;
}

.hf-section {
  padding: 6rem 3rem;
}
.hf-section .hf-section {
  padding: 3rem 0;
}

.vertical-align {
  display: flex;
  align-items: center;
}


/*
 * Navagation
 */

#homeNavbar.navbar {
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1.25rem;
  text-transform: lowercase;
}
#homeNavbar .navbar-nav .nav-link + .nav-link {
  margin-left: 2rem;
}


/*
 * Cover page
 */

#homeCover.jumbotron {
  background-color: #424242;
  color: white;
  margin-bottom: 0;
  padding-top: 8rem;
  padding-left: 6rem;
  min-height: 20rem;
  height: 100vh;
}


/*
 * Intro section
 */

#introSection {
  background-color: #ff9900;
}
#introSection .lead {
  font-size: 1.5rem;
}


/*
 * Product development section
 */

.hf-product-dev-work.row {
  background-color: #eee;
}


/*
 * Lab section
 */

#labSection {
  background-color: #3299bb;
}

#labSection .hf-heading {
  color: white;
}

#labSection .card-deck {
  justify-content: center;
}
#labSection .card-deck .card {
  flex: 1 0 auto;
}
#labSection .card {
  max-width: 15rem;
}


/*
 * Ethos section
 */

.hf-mission {
  line-height: 1.5;
}
.row.hf-ethos {
  color: #ddd;
}

@keyframes aethosword {
    0%   {background-color: white;}
    20%  {background-color: #ff9900;}
    30%  {background-color: white;}
}
.hf-animate-impact-word {
  animation-name: aethosword;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
.hf-animate-endure-word {
  animation-name: aethosword;
  animation-duration: 20s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
}
.hf-animate-connect-word {
  animation-name: aethosword;
  animation-duration: 20s;
  animation-delay: 10s;
  animation-iteration-count: infinite;
}

@keyframes aethostext {
    0%   {color: #ddd;}
    20%  {color: #ff9900;}
    30%  {color: #ddd;}
}
.hf-animate-impact-text {
  animation-name: aethostext;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
.hf-animate-endure-text {
  animation-name: aethostext;
  animation-duration: 20s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
}
.hf-animate-connect-text {
  animation-name: aethostext;
  animation-duration: 20s;
  animation-delay: 10s;
  animation-iteration-count: infinite;
}


/*
 * Team section
 */

#teamSection {
  background-color: #bcbcbc;
}


/*
 * Social section and footer
 */

#socialSection,
footer {
  background-color: #ff9900;
}
